
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1A0B2E; 

}

.navbar{
    display: flex;
    justify-content: space-around;
    color:#FFFFFF ;
    background-color: #412567;
    align-items: center;
    padding: 30px auto;
    max-width:1600px;
    height: 92px;
}

.manu{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.list
{
    list-style: none;


}

.list a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem ;

}

.btn{

}

.hero-section{
     background-image: url("../assets/hero-bg.png");
     width: 100%;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;

}

.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 101px auto;
   
}

.hero-circle img{
    width: 250px;
    height: 250px;

}

.hero-text h1{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 20px;
}
.hero-text p{
     color: #FFFFFF;
     font-size: 16px;
     font-weight: 400;
}

.about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.about-view{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.rating-view h1{
    color: #00FF88;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 10px;

}

.about-text h1{
    color: #FFFFFF;
    margin-bottom: 10px;
}

.about-text p{
    color: #FFFFFF;
}

.rating-view p{
    color: #FFFFFF;
    font-size: 16;
    font-weight: 400px;

}

/* grid section */

.grid-section{
    background-color: #230E3D;
    margin-top: 80px;
    padding-bottom: 50px;
    /* padding: auto 200px 120px 200px; */

}

.grid-title{
    text-align: center;
    padding-top:50px;
    padding-bottom: 40px;
    color: #FFFFFF;
}

.div-premium,.div-mobile,.div-mobile,.div-global,.div-exclusive,.div-rich{
    background-color: #351165;
    border: none;
    border-radius: 10px;
    padding: 30px;
    color: #FFFFFF;

}

.img-view{
    /* width: 100%; */
    /* padding: 5px; */
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    
}

.grid-content{

    margin: auto 150px 20px 150px;

}
.div-premium{
    grid-area: div-premium;
}

.div-mobile{
    grid-area: div-mobile;
}

.div-global{
    grid-area: div-global;
}

.div-exclusive{
    grid-area: div-exclusive;
}

.div-rich{
    grid-area: div-rich;


}

.grid-content{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);

    grid-template-areas:
    
    "div-premium div-mobile div-mobile"
    "div-premium div-global div-global"
    "div-exclusive div-exclusive div-rich"
    
    
    ;
}



/* features */

.featured-title{
    text-align: center;
    color: #FFFFFF;
}









